.storage {
    margin: 15px auto;
    width: 1000px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .storage h2 {
    text-align: center;
    font-size: 20px;
  }
  
  table {
    width: 100%;
  }
  
  thead {
    background-color: #16e027;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
  }
  
  .storage ul li:nth-child(even) {
    background-color: #eee;
  }
  
  .storage ul li:last-child {
    border-bottom: none;
  }
  
  .storage ul li button:hover {
    background-color: #ddd;
  }
  