@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&family=Roboto:wght@300;500&display=swap");

:root {
  --primary: #fe2c55;
  --primary-light: #ff3366;
  --primary-dark: #e6004c;
  -black: #000;
  --text-color: #333;

  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  display: flex;
}

a[href] {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}
